<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div style="border: solid 1px">
        <a href="/products">Products</a>
        <a href="/product/1">Product 1</a>
    </div>
    {% block content %}{% endblock %}
</body>
</html>